<div class="card mt-5 bg-dark">
  <div class="card-body">
    <form #matrizForm="ngForm" (ngSubmit)="onSubmit(matrizForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="matrizService.selectedMatriz.$key">

      <div class="form-group">
        <input 
        readonly
          type="text"
          class="form-control" 
          name="evaluador"
          #name="ngModel"
          [(ngModel)]="matrizService.selectedMatriz.evaluador"
          placeholder="Seleccione un evaluador de la lista"
        >
      </div>

      <div class="form-group">
        <input readonly 
          type="text"
          class="form-control" 
          name="evaluado"
          #name="ngModel"
          [(ngModel)]="matrizService.selectedMatriz.evaluado"
          placeholder="Seleccione un evaluado de la lista"
        >
      </div>
    
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-plus-circle"></i> Agregar Matriz
        </button>
        <button class="btn btn-secondary" type="reset" (click)="resetForm(personForm)">
          <i class="fas fa-sync-alt"></i> Limpiar
        </button>
        </div>
    </form>
  </div>
</div>

