<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-person></app-person>
    </div>
    <div class="col-md-6 text-center">
        <app-workpositionsperson-list></app-workpositionsperson-list>
      </div>
    <div class="col-md-12 text-center">
      <app-persons-list></app-persons-list>
    </div>
   
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fab fa-connectdevelop"></i>
    Matriz de Evaluación
  </a>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-matriz></app-matriz>
    </div>
    <div class="col-md-8 text-center">
      <app-matriz-list></app-matriz-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-evaluadores></app-evaluadores>
    </div>
    
    <div class="col-md-6">
      <app-evaluados></app-evaluados>
    </div>
  </div>
</div>