<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <app-testcargos></app-testcargos>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <app-testkpi></app-testkpi>
    </div>
   
    <div class="col-md-6 text-center">
      <app-testperson></app-testperson>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <app-testform></app-testform>
    </div>
    <div class="col-md-12 text-center">
      <app-testlist></app-testlist>
    </div>
    
   
  
  </div>
</div>