<div class="card mt-5 mb-5">
  <div class="card-body">
    <h6 class="test-center"> Lista de competencias</h6>
    <table class="table table-sm table-hover table-warning">
      
      <tbody>
          <tr *ngFor ="let competency of competenciesList">
          <td>{{competency.name}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(competency)">
              <i class="far fa-edit"></i>
              Editar
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(competency.$key)" >
              <i class="fas fa-trash-alt"></i>
              Borrar
            </a>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>