<div class="card mt-5 mb-5">
  <div class="card-body">
    <h6 class="test-center"> Lista de Kpis</h6>

    <nav class="navbar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter">    
      <!--testService.selectedTest.cargo
      -->  
    </nav>
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
        
        </tr>
      </thead>
      <tbody>
          <tr *ngFor ="let kpi of kpiList |filter:filter |paginate: { itemsPerPage: 6, currentPage: p22, id: 'vdos' }; let i = index">
 
          <td>{{kpi.indicador}}</td>
          
          <td>{{kpi.cargo}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(kpi)">
              <i class="far fa-edit"></i>      
            </a>            
          </td>
        </tr>
      </tbody>
      
    </table>
    <pagination-controls (pageChange)="p22 =$event" id="vdos"></pagination-controls>
  </div>
</div>