
   <div class="card text-white bg-danger mt-3 mb-3" style="width: 12rem;">
      <div class="card-body">
          
        </div>
    <img class="card-img-top" src="http://www.adecco.com.ec/images/adecco.png" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">App en Desarrollo.</p>
    </div>
  </div>
  

<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fas fa-briefcase"></i>
    Administración de cargos
  </a>
</nav>

<app-workpositions></app-workpositions>


<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fas fa-users"></i>
   
  Administración de Personas
  </a>
</nav>

<app-persons></app-persons>

<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fas fa-users"></i>
    Administracion de competencias
  </a>
</nav>
<app-competencies></app-competencies>





<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fas fa-file-alt"></i>
   
  Administracion de Kpis
  </a>
</nav>

<app-kpis></app-kpis>

<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fas fa-shopping-cart"></i>
   
  Designacion de evaluaciones
  </a>
</nav>

<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    <i class="fas fa-clipboard-check"></i>
   
  Evaluacion (Evaluador)
  </a>
</nav>