<div class="card mt-3 mb-5">
  <div class="card-body">
    <h6 class="test-center"> LISTA DE CARGOS</h6>
    
    <nav class="navbar">
        <input class="form-control" type="text" name="search" [(ngModel)]="filter">      
      </nav>
    <table class="table table-sm table-hover table-light">
      <tbody>
            <thead>
                <tr>
                </tr>
              </thead>
          <tr *ngFor ="let workposition of workpositionsList |filter:filter |paginate: { itemsPerPage: 5, currentPage: p21, id: 'veinteuno' }; let i = index">
          <td>{{workposition.name}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(workposition.name)">
              <i class="far fa-edit"></i>
            
            </a>
            
          </td>

        </tr>
      </tbody>
      <pagination-controls (pageChange)="p21 = $event" id="veinteuno"></pagination-controls>
    </table>
  </div>
</div>