<div class="card mt-5 mb-5">
  <div class="card-body">
    <h6 class="text-center"> Lista de Evaluadores</h6>
    <table class="table table-sm table-hover">
      
      <tbody>
          <tr *ngFor ="let person of personListEvaluadores">
          <td>{{person.name}}</td>
          <td>{{person.cargo}}</td> 
          
          <td>
            <a class="btn btn-success text-white" (click)="onEdit(person.name)">
              <i class="far fa-hand-pointer"></i>
              Seleccionar 
            </a>
            
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
